@font-face {
  font-family: 'Comics';
  src: url('https://cdn.glitch.global/9b0006d3-c9c6-4f08-aa1b-12b52b2efdee/ComicSansMS3.ttf?v=1727100968329') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Comics", sans-serif;
}

#game-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.centermoji {
  user-select: none; /* Prevent text selection */
  pointer-events: none; /* Optional: prevent any click events */
  font-size: 170px;
  margin: 0
}

.wish-box {
  font-size: 22px;
  border-radius: 10px;
  outline: none;
  border: solid 2px;
  padding: 10px 7px;
  width: 200px;
  height: 40px;

  font-family: "Comics", sans-serif;
}

.wishgrant {
  cursor: pointer;
  font-size: 22px;
  border-radius: 10px;
  outline: none;
  border: solid 2px;
  width: 63px;
  height: 63px;
}

.wishgrant.nope {
  background-color: white;
  cursor: default;
}

.footer-div {
  position: absolute;
  bottom: 0%;
  padding: 15px;
  text-align: center;
}

.footer-link {
  color: black;
}

.tiny-text {
  font-size: 14px;
}

#guessing-text {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: -20px;
}

.predict-or-wish {
  margin-top: 10px;
  border-radius: 10px;
  border: solid 2px;
  display: flex; /* Use Flexbox for alignment */
  gap: 10px; /* Optional: space between items */
  padding: 7px;
}

.wp {
  cursor: pointer;
  height: 40px;
  background-color: white;
  border: solid 2px;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Comics", sans-serif;
}

.wp.selected {
  background-color: black;
  color: white;
  border-color: white;
}

.cover {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 10000;
  text-align: center;
}

.cover.hidden {
  display: none;
}

.cover h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Corrected to use a comma */
  color: white;
}

.titlecon {
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;

  transition: transform 0.1s ease;
}

.titlecon:hover {
  transform: scale(1.025);
}