@font-face {
  font-family: 'Comics';
  src: url('https://cdn.glitch.global/9b0006d3-c9c6-4f08-aa1b-12b52b2efdee/ComicSansMS3.ttf?v=1727100968329') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comics Light';
  src: url('https://cdn.glitch.global/9b0006d3-c9c6-4f08-aa1b-12b52b2efdee/Ldfcomicsanslight-6dZo.ttf?v=1727115063634') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Comics", sans-serif;
  overflow-y: auto;
}

h1 {
  margin: 0;
  font-weight: bold;
}

.titlecon {
  width: 360px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  padding: 58px;
}

.games-div {
  position: absolute;
  top: 180px;
  transform: translateX(-50%);
  left: 50%;
  width: 67%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.game-item {
  margin: 5px;
  flex: 0 1 auto;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 30px;
}

.game-item img {
  width: 400px;
  padding: 0;
  display: block;
}

.game-item:hover {
  transform: translateY(-3px) scale(1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}
